.minion-message {
    font-weight: 700;

    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    word-break: break-all;
}

.minion-message li img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 3px;
}

.minion-message ul {
    list-style-type: none;
    padding: 0 0 0 0.2em;
}
.dismiss-minion-item, sustain-minion-item {
    display: flex;
}

.minion-message-item {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1em 0;
}